@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proza Libre', sans-serif;
}
body
{
    min-height: 500vh;
    overflow-x: hidden;
}
.container
{
    position: relative;
    width: 100%;  
}
.mainPage
{
    background: transparent;
    margin-top: 35px;
}
.cardBox
{
 position: relative;
 width: 100%;
 height: 20px;
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-gap: 20px;
}
.cardBox .cardd
{
 position: relative;
 
 padding: 30px;
 justify-content: space-between;
}
.cardBox .card .numbers
{
 position: relative;
 font-weight: 500;
 font-size: 2.5em;
 color: indigo;
}
.cardBox .card.cardName
{
 color: gray;
  font-size: 1.1em;
 margin-top: 5px;
}
.cardBox .card .iconBx
{
 font-size: 3.5em;
 color:indigo;
 text-align: center;
}
.add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}