@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
body 
{
    font-family:  "Proza Libre", sans-serif;
    background-color: #BDC3C7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23BDC3C7' width='11' height='11'/%3E%3Crect fill='%23bac1c5' x='10' width='11' height='11'/%3E%3Crect fill='%23b8bec3' y='10' width='11' height='11'/%3E%3Crect fill='%23b5bcc0' x='20' width='11' height='11'/%3E%3Crect fill='%23b2b9be' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23afb7bc' y='20' width='11' height='11'/%3E%3Crect fill='%23adb5ba' x='30' width='11' height='11'/%3E%3Crect fill='%23aab2b8' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23a7b0b6' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23a5adb4' y='30' width='11' height='11'/%3E%3Crect fill='%23a2abb1' x='40' width='11' height='11'/%3E%3Crect fill='%239fa9af' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%239da6ad' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%239aa4ab' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2398a1a9' y='40' width='11' height='11'/%3E%3Crect fill='%23959fa7' x='50' width='11' height='11'/%3E%3Crect fill='%23929da5' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23909aa3' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238d98a1' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%238b969e' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%2388939c' y='50' width='11' height='11'/%3E%3Crect fill='%2386919a' x='60' width='11' height='11'/%3E%3Crect fill='%23838f98' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23808c96' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237e8a94' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%237b8892' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23798690' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2376838e' x='70' width='11' height='11'/%3E%3Crect fill='%2374818c' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23727f8a' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%236f7c88' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%236d7a86' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%236a7884' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23687682' x='80' width='11' height='11'/%3E%3Crect fill='%23657380' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2363717e' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23616f7c' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%235e6d7a' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%235c6b78' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23596876' x='90' width='11' height='11'/%3E%3Crect fill='%23576674' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23556472' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23526270' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2350606e' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%234e5d6c' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%234b5b6a' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23495968' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23475767' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23455565' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23425363' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23405161' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%233e4f5f' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%233c4c5d' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23394a5b' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23374859' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23354657' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23334456' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23304254' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%232e4052' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232C3E50' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.login-wrapper 
{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form 
{
    position: relative;

    max-width: 380px;
    padding: 60px 40px 40px;
    background: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.383);
}
.form::before 
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(95, 95, 95, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}
.form img
{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 110px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;
}
.form h2 
{
    text-align: center;
    font-size: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    color: #e6e6e6;
}
.form .input-group 
{
    position: relative;
}
.form .input-group input 
{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.form .input-group label 
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label 
{
    transform: translateY(-18px);
    color: #ffffff;
    font-size: .8rem;
}
.submit-btn 
{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #13a51f;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.forgot-pw
{
    color: inherit;
}
  
#forgot-pw 
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
}
#forgot-pw:target 
{
    height: 100%;
    opacity: 1;
}
.close 
{
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}
  