@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
body 
{
    font-family:  "Proza Libre", sans-serif;
    background-color: #2C3E50;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%232C3E50' width='11' height='11'/%3E%3Crect fill='%232c3f52' x='10' width='11' height='11'/%3E%3Crect fill='%232d4053' y='10' width='11' height='11'/%3E%3Crect fill='%232d4155' x='20' width='11' height='11'/%3E%3Crect fill='%232d4257' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%232d4358' y='20' width='11' height='11'/%3E%3Crect fill='%232e445a' x='30' width='11' height='11'/%3E%3Crect fill='%232e455c' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%232e465d' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%232e475f' y='30' width='11' height='11'/%3E%3Crect fill='%232f4961' x='40' width='11' height='11'/%3E%3Crect fill='%232f4a62' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%232f4b64' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%232f4c66' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232f4d68' y='40' width='11' height='11'/%3E%3Crect fill='%232f4e69' x='50' width='11' height='11'/%3E%3Crect fill='%23304f6b' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2330506d' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2330516e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23305270' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23305372' y='50' width='11' height='11'/%3E%3Crect fill='%23305474' x='60' width='11' height='11'/%3E%3Crect fill='%23305675' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23305777' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23305879' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2330597b' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23315a7c' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23315b7e' x='70' width='11' height='11'/%3E%3Crect fill='%23315c80' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23315d82' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23315e84' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23316085' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23306187' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23306289' x='80' width='11' height='11'/%3E%3Crect fill='%2330638b' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2330648d' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2330658e' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23306690' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23306892' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23306994' x='90' width='11' height='11'/%3E%3Crect fill='%23306a96' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23306b97' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%232f6c99' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%232f6d9b' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%232f6e9d' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%232f709f' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%232e71a1' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%232e72a2' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%232e73a4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%232e74a6' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%232d75a8' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%232d77aa' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%232c78ac' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%232c79ae' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%232c7ab0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%232b7bb1' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%232b7cb3' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%232a7eb5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%232a7fb7' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232980B9' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
.login-wrapper 
{
    margin-top: 80px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form 
{
    position: relative;
    max-width: 380px;
    padding: 60px 40px 40px;
    background: rgba(0, 0, 0, 0.623);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.383);
}
.form::before 
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(95, 95, 95, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}
.form img
{
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 110px;
    background: rgba(255,255,255, 0.8);
    border-radius: 50%;  
}
.form h2 
{
    text-align: center;
    font-size: 1.9em;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    color: #e6e6e6;
}
.form .input-group 
{
    position: relative;
}
.form .input-group input 
{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.form .input-group label 
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label 
{
    transform: translateY(-18px);
    color: #ffffff;
    font-size: .8rem;
}
.submit-btn 
{
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #13a51f;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.reg-btn 
{
    display: block;
    margin-top: 10px;
    border: none;
    outline: none;
    background:orange;
    color: blanchedalmond;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.registerTxt
{
    font-size: 16px;
}
.registerTxt a
{
    font-size: 16px;
    color: orange;
}